.main-heading {
            margin-top:-50px;
            width: 100%;
            top:0;
            background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8)), url("../img/desktop/image-hero.jpg");
            background-size: cover;
        @media (max-width:$md3+px) {
            background-size: cover;
            background-clip: content-box;
            background-repeat: no-repeat;
            background-position: center;
        }
        @media (max-width:$md4+px) {
            background: url("../img/mobile/image-hero.jpg");
            background-size: cover;
        }
    &__btn {
        position:absolute;
        right:30px;
        border: 2px solid rgba(255, 255, 255, 1);
        @include adaptive-value('font-size', 22, 14, 0);
        padding: 15px 40px;
        @media (max-width:$md3+px) {
            padding: 5px 10px;
        }
    }

    &__container {
        height: 650px;
        display: flex;
        align-items: center;
    }

    &__content {
        background: linear-gradient(90deg, rgba(0, 91, 193, 0.6), rgba(0, 91, 193, 0.6) 40%,  rgba(0, 0, 0, 0) 40%);
        color: #fff;
        height: 100%;
        display:flex;
        align-items: stretch;
        @media (max-width: $md3+px) {
            background: linear-gradient(90deg, rgba(0, 91, 193, 0.6), rgba(0, 91, 193, 0.6) 30%,  rgba(0, 0, 0, 0) 30%);
        }
        @media (max-width: $md4+px) {
            background: linear-gradient(90deg, rgba(0, 91, 193, 0.6), rgba(0, 91, 193, 0.6) 60%,  rgba(0, 0, 0, 0) 60%);
        }
    }

    &__block {
        margin: 202px 0 0 140px;
        @media (max-width: $md4+px) {
            margin: 50px 0 0 20px;
            width:100%;
        }
    }

    &__title {
        font-family: $SecondFontFamily;
        line-height: 1;
        max-width: 600px;
        color:#fff;
        font-weight: 300;
        text-transform:uppercase;
        @include adaptive-value('font-size', 72, 38, 0);
        margin:0;
        padding: 40px;
        border: 1px $white solid;
        @media (max-width: $md4+px) {
            font-size: 30px;
        }
    }

    &__text {
        @include adaptive-value('font-size', 16, 14, 0);
        // @media (max-width: $md4+px) {
        // }
    }
}