.menu {
    display: block;
    &__body.active{
        @media (max-width: $md4+px){
            display:flex;
            height: 100vh;
            background-color:$black;
            z-index: -1;
            align-items: center;
        }
    }
    &__list {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        @media (max-width: $md4+px){
            display: none;
            &.active{
            display: block;
            flex-direction: column;
            width: initial;
            flex-wrap: nowrap;
            align-items: center;
            height: initial;
            overflow: scroll;
            right: 0;
            margin: 0;
            width: 100%;
            .menu__link{
                text-transform: uppercase;
            }
        } 

        }


    }
        &__burger-icon.active{
                z-index: 2;
                span{
                    opacity:0;
                }
                &:before{
                    transform: rotateZ(45deg) translateY(11px);
                }
                &:after{
                    transform: rotateZ(-45deg) translateY(-11px);
                }
            }
    &__link {
        font-size: 14px;
        font-family: $SecondFontFamily;
        font-weight: 400;
        text-align: left;
        margin: 0;
        padding:20px;
        color: rgba(255, 255, 255, 1);
        transition: all 0.3s ease-in;
        @media (max-width: $md3+px) {
            padding: 5px 0 5px 0;
            margin: 0 20px 0 0;
        }
        @media (max-width: $md4+px) {
            font-size: 20px;
            z-index: 2;
            padding: 0;
            margin: 20px;
        }
        &:hover{
            transform: scaleX(1.2) scaleY(1.2);

        }
    }
    &__burger-icon{
        display:none;
        @media (max-width: $md4+px){
        display: block;
        width:30px;
        height:20px;
        color:#fff;
        position:absolute;
        right: 20px;
        top:20px;
        span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top:40%;
            opacity:1;
            transition: opacity ease-in .1s;
        }
        &:before, &:after{
            position:absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fff;
            left:0;
            transition: transform ease-in .3s;
        }
        &:before{
            top:0;

        }
        &:after{
            bottom:2px;
        }
    }} 
    &__logo{
        text-align: left;
        width: 192px;
        height: 32px;
        position: absolute;
        left: 40px;
        top: 11px;
        .logo{
            width: 100%;
            height: 100%;
        }
        @media (max-width: $md4+px){
            width: 60%;
            height: 15px;
            position: absolute;
            left: 20px;
            top:20px;
    }
    }

}

.footer__menu{
        .menu__list{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 35px 35px;
        }
        .menu__link{
            margin:0;
            @include adaptive-value('font-size', 14, 10, 0);
        }
@media (max-width: $md4+px){

        .menu__list{
            display: block;
            flex-direction: row;
            width:initial;
            flex-wrap:nowrap;
            align-items:center;
            height: initial;
            overflow: scroll;
            right: 0;
            top:0;
            margin: 20px;
            text-align: center;}
        .menu__link{
            font-size: 10px;
            width: 100%;
            margin: 10px 0;
            padding:0;
            
        }
        .menu__body{
            min-width: 0;
            margin: 0;
            width: 100%;

        }
}

@media (max-width: $md3+px) {
    .menu__list{
    position: relative;
    align-content:center;
    justify-content:flex-end;
    width: 60%;
    right:0;}

    .menu__body{
        min-width: 0;
        margin: 0;
        width: 100%;

    }
}

}